:root {
  --title: #fff;
  --grey: #abb2bf;
}

[data-theme="true"] {
  --title: #000;
  --grey: #676869;
}
.skills {
  &__wrapper {
    &_title {
      display: flex;
      align-items: center;
      color: var(--title);
      font-size: 32px;
      font-weight: 500;
      img {
        width: 20px;
        height: 42px;
      }
    }
    &_content {
      display: flex;
      gap: 50px;
      padding: 50px 0 120px;
      &-desc {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        grid-template-rows: 103px;
        &-card {
          display: flex;
          flex-direction: column;
          &-title {
            color: var(--title);
            font-size: 16px;
            font-weight: 600;
            border: 1px solid var(--grey);
            padding: 10px;
          }
          &-sub {
            color: var(--grey);
            font-size: 16px;
            font-weight: 400;
            border: 1px solid var(--grey);
            letter-spacing: 1.4px;
            padding: 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .skills__wrapper_content-desc {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 778px) {
  .skills__wrapper_content-img {
    display: none;
  }
  .skills__wrapper_content {
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 380px) {
  .skills__wrapper_content-desc {
    grid-template-columns: repeat(1, 1fr);
  }
}
