.media {
  cursor: pointer;

  @include media(1250) {
    display: none;
  }

 

  & span {
    width: 1px;
    height: 200px;
    background: #abb2bf;
  }

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 16px;
}