:root {
  --title: #fff;
  --btn: #c778dd;
  --btnhover: rgba(199, 120, 221, 0.2);
}

[data-theme="true"] {
  --title: #000;
  --btn: #800ca1;
  --btnhover: #c778dd;
}

.live {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: max-content;
  color: var(--title);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--btn);
  transition: 0.4s linear;

  &:hover {
    background: var(--btnhover);
  }
}

.github {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 15px;
  color: var(--title);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--btn);
  transition: 0.4s linear;

  &:hover {
    background: var(--btnhover);
  }
}

.demo {
  padding: 8px 16px;
  border: 1px solid #abb2bf;
  color: #abb2bf;
  font-size: 16px;
  width: max-content;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: 0.4s linear;

  &:hover {
    background: rgba(171, 178, 191, 0.2);
  }
}

.quate {
  position: relative;

  .bg {
    position: absolute;
    right: -10px;
    top: 50%;

    @include media(1024) {
      display: none;
    }
  }
}

.quate__wrapper {
  margin: 120px auto;
  max-width: 600px;
  width: 100%;
  border: 1px solid #abb2bf;
  padding: 32px;
  position: relative;

  &_title {
    color: var(--title);
    font-size: 24px;
    font-weight: 500;
    text-align: center;

    .top {
      position: absolute;
      top: -15px;
      left: 20px;
      z-index: 1;
    }

    .but {
      position: absolute;
      bottom: -10px;
      right: 17px;
      z-index: 1;
    }
  }

  span {
    position: absolute;
    bottom: -65px;
    right: -1px;
    padding: 16px;
    border-bottom: 1px solid #abb2bf;
    border-left: 1px solid #abb2bf;
    border-right: 1px solid #abb2bf;
    color: var(--title);
    font-size: 24px;
    font-weight: 400;
  }
}

.read-btn {
  padding: 8px 16px;
  color: var(--title);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #c778dd;
  width: max-content;
  transition: 0.4s linear;

  &:hover {
    background: var(--btnhover);
  }
}